@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "myfont";
  src: url(fonnts.com-DegularDemo-Medium.otf);
}

/* !Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
  transition: 0.4s all ease;
}

body {
  background: #000000;
}
/* !Navbar */
.navbar {
  background: transparent !important;
  .container-fluid {
    position: relative;
    top: -4px;
    padding: 0px 20px;
  }
}

.nav-link {
  font-size: 13px !important;
  color: white !important;
  padding: 0px 10px !important;
  * {
    font-size: 13px !important;
  }

  span {
    font-weight: 600 !important;
    font-size: 8px !important;
    border-radius: 3px !important;
    padding: 4px 5px !important;
  }
}

.nav-link:hover {
  opacity: 0.5 !important;
}

.navbar-toggler-icon {
  mix-blend-mode: plus-lighter;
  filter: brightness(100);
}

.nav-button {
  color: transparent;
}

.show > ul {
  position: absolute !important;
  width: 100%;
  margin-left: -20px !important;
  background: #111111;
  line-height: 50px;
  z-index: 100;
}

.nav-button > button {
  font-size: 13px !important;
  padding: 7px 15px !important;
  margin: 0px 5px !important;
  font-weight: 600 !important;
}

.fling {
  margin-right: 20px;
  margin-top: 10px;
}

/* !Background Rabbit Image */
.header-img {
  background: black
    url("https://fps.cdnpk.net/home/cover/image-14.webp?w=1400&h=438");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 70vh;
  opacity: 0.5;
}
/* !Text and Stuff on Rabit's Image */
.heading {
  height: 70vh;
  padding: 70px;
  margin-top: -30px !important;
  span > h1 {
    font-family: "myfont" !important;
    font-weight: 600;
    font-size: 36px !important;
    text-align: center;
    color: white;
  }
  span > p {
    text-align: center;
    color: white;
    font-size: 17px !important;
  }
}
/* ? =========================  Navigation and Search Box ================================ */
.sections {
  width: calc(80% + 40vh - 20vw);
  height: 56px;
  background: white;
  border-radius: 3px !important;
}

/* !DropDown */
.sec1 {
  width: 20%;
  min-width: 100px !important;
  title-name{
    font-size: 15px !important;
  }
  a{
    font-size: 13px !important;
  }
}
/* !Search Area */
.sec2 {
  width: 60%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-right: 5px;
  input {
    outline: none;
    border: none;
    font-size: 16px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }
  svg{
    cursor: pointer;
  }
}

input::placeholder{
  color: rgba(0, 0, 0, 0.426);
}
/* !Upload and Search Btn */
.sec3 {
  width: 20%;
  min-width: 180px !important;
  button {
    font-size: 13px !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .colored{
    background: #336aea;
    border: none;
    font-weight: 500;
    padding: 10px 15px;
  }
}

.transparent-btn{
  background: #FFFFFF33;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  outline: none;
  border: none;
  margin: 0px 6px;
}


.ok{
  margin-top: -40px;
  width: 100%;
  height: 100vh;
  background: white;
}






.main {
  color: transparent;
}
